RewriteEngine On

RewriteRule ^page_not_found$ views/404.php

# Thay đổi trang báo lỗi 
ErrorDocument 404 http://localhost/coursesWeb/du_an_1/page_not_found
# DirectoryIndex newindex.html

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 

RewriteRule ^sign_in$                                                   views/account/sign_in.php
RewriteRule ^sign_in$                                                   views/account/sign_in.php

# admin login
RewriteRule ^login$                                                      login.php
#RewriteRule ^logout$                                                     controllers/admin/logout.php

# admin
RewriteRule ^admin$                                                     admin.php
RewriteRule ^admin/([a-zA-Z0-9_-]+)$                                    admin.php?module=$1 [QSA,L]
RewriteRule ^admin/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$                   admin.php?module=$1&act=$2 [QSA,L]
RewriteRule ^admin/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$  admin.php?module=$1&act=$2&id=$3 [QSA,L]

# site
RewriteRule ^forgot_pass$                                               views/account/forgot_pass.php
RewriteRule ^reset_pass$                                                views/account/reset_pass.php
RewriteRule ^home$                                                      index.php
RewriteRule ^([a-zA-Z0-9_-]+)$                                          index.php?v=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$                         index.php?v=$1&id=$2 [QSA,L]
