#noti {
    position: fixed;
    left: 32px;
    bottom: 32px;
    z-index: 100000000;
}
.noti {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(calc(-100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.noti--success {
    border-color: #47d864;
}

.noti--success .noti__icon {
    color: #47d864;
}

.noti--info {
    border-color: #2f86eb;
}

.noti--info .noti__icon {
    color: #2f86eb;
}
.noti+.noti {
    margin-top: 24px;
}

.noti__icon {
    font-size: 24px;
}

.noti__icon,
.noti__close {
    padding: 0 16px;
}

.noti__body {
    flex-grow: 1;
}

.noti__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.noti__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.noti__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}